/* :root {
    --main-background-color: #202022;
    --text-color: white;
    --link-hover-color: #00bb69;
} */

/* Logo styles */
.container-fluid img {
    width: 150px;
    color: black;
}

/* Nav bar styles */
.container-fluid {
    color: white;
}

.navbar {
    padding: 0;
    color: white;
}
nav .container-fluid {
    background-color: #EDEDED;
    color: white;
    padding: 10px;
}
.collapse {
    display: flex;
    justify-content: right;
}

/* Jumbotron */
.display-5 {
    font-size: 5.6rem;
    font-weight: bold;
    color: white;
}
.p-5 {
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.py-5 p {
    width: 60%;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
}
.btn {
    border: solid white;
    color: white;
}

/* Cards - Work Section */
.work-header {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin-bottom: 40px;
}
.work-section {
    margin-top: 80px;
}
.cardContainer {
    display: flex;
    justify-content: center;
}

















